Examen-LND/18 - César Matelat/DTD/aeropuertos.dtd

<!ELEMENT aeropuertos (aeropuerto*)>
<!ELEMENT aeropuerto (nombre, vuelos, fecha)>
<!ELEMENT vuelos (vuelo*)>
<!ELEMENT vuelo (diario?, origen, destino, hora-salida, hora-llegada)>
<!ELEMENT diario EMPTY>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destino (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora-salida (#PCDATA)>
<!ELEMENT hora-llegada (#PCDATA)>
<!ATTLIST vuelo código ID #REQUIRED
                estado CDATA "E">