XML/DTD/DTD/DTD/articulos.dtd

<!ELEMENT Articulos (Articulo*)>
<!ELEMENT Articulo (ID, name, description, price, category, disponibility, img)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT disponibility (#PCDATA)>
<!ELEMENT img (#PCDATA)>